@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
:root {
  --primary-color: #fd3260;
  --secondary-color: #272727;
  --btn-font: white;
  --nav-bg: #f3f3f4;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Site Styles*/
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Didact Gothic", sans-serif;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.page-container {
  position: relative;
  min-height: 100vh;
}
header {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: var(--btn-font);
  flex-wrap: wrap;
  padding: 10px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
main {
  padding-bottom: 6rem;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  text-align: center;
}
button {
  cursor: pointer;
}
.nav-list-item {
  display: inline-block;
  padding: 0.5rem;
}
.nav-list-item a {
  color: var(--btn-font);
}
.primary-btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.products-list {
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
.card-actions {
  right: 20px;
  margin-top: 0;
}
.main-category-link {
  color: var(--btn-font);
}
.category-nav {
  padding-bottom: 1rem;
}
/*Utilities*/
.uppercase {
  text-transform: uppercase;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.primary-txt {
  color: var(--primary-color);
}
.small-img {
 max-width: 90px;
}
/*Mobile specific styles*/
@media only screen and (max-width: 768px) {
  .products-list {
    grid-template-columns: 1fr;
  }
  .products-list-item {
    margin-top: 1rem;
  }
}
/*Tablet specific styles*/
@media only screen and (min-width: 768px)and (max-width:1023px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*14inch Laptop specific*/
@media only screen and (min-width: 1024px) and (max-width:1279px){
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  
  }
}
/*Large screen specific styles*/
@media only screen and (min-width: 1280px) and (max-width:1555px){
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


